{% extends 'base.html.twig' %}

{% block title %}
  Poster Printing Center!
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="../public/css/bootstrap.css" />
{% endblock %}

{% block body %}
  {# <div class="banner">
    <h1>
      Geeps Poster Printing Center
    </h1>
  </div> #}
  
<header class="page-header">
    <h1> Geeps Poster Printing Center</h1>
</header>

  <div id="formulaire" name="formulaire">
    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
      {{ form_errors(form) }}
    </div>

<div class="grid-container">
    <div class="row">
      <div class="col">
        {{ form_row(form.name) }}
      </div>

      <div class="col">
        {{ form_row(form.firstname) }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        {{ form_row(form.email) }}
      </div>

      <div class="col">
        {{ form_row(form.mobile) }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        {{ form_row(form.building) }}
      </div>

      <div class="col">
        {{ form_row(form.office) }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        {{ form_row(form.file) }}
      </div>

      <div class="col">
        {{ form_row(form.delivery_date) }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        {{ form_row(form.printing_format) }}
      </div>
      <div>
        <div class="col">
          {{ form_row(form.printing_height) }}
        </div>
        <div class="col">
          {{ form_row(form.printing_weight) }}
        </div>
        <div class="col">
        {{ form_row(form.Submit) }}
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {{ form_row(form.comment) }}
      </div>
      
        
    </div>

    
     
   

    </div>
  
    {{ form_end(form) }}
  </div>

{# <div class="footer">
  <p>Footer</p> #}


   <footer>
        <p> <link href="#"> Direction </link> : Claude Marchand <br>
        <strong> GeePs</strong>
        <br>
        CNRS UMR8507 . CentralesSupélec  <br>
        Université Paris-Sud . Sorbonne Universités <br> 
        91190 Gif sur Yvette <br>
        </p>
        <p> @Copyright 2019 . GeePs <br>
        This site is powred by Django
        </p> 

    </footer>

</div>{% endblock %}
